{% extends 'base.html'%}
{% block content%}

<div class="container mt-3">
  <h2>Wine selection</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Wine type</th>
        <th>Select</th>
        <th>Check food ingredients matches</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>white_wine</td>
            <td><a href="/wine/white_wine" class="btn btn-success">Choose</a></td>
            <td>
                <form action="/ingredients" method="POST">
                <input type="hidden" value="white_wine" name="ask">
                <button type="submit" class="btn btn-success">Check</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>red_wine</td>
            <td></td>
            <td>
                <form action="/ingredients" method="POST">
                <input type="hidden" value="red_wine" name="ask">
                <button type="submit" class="btn btn-success">Check</button>
                </form>
            </td>
        </tr>
         <tr>
            <td>dessert_wine</td>
            <td><a href="/wine/desert_wine" class="btn btn-success">Choose</a></td>
            <td>
                <form action="/ingredients" method="POST">
                <input type="hidden" value="dessert_wine" name="ask">
                <button type="submit" class="btn btn-success">Check</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>rose_wine</td>
            <td></td>
            <td>
                <form action="/ingredients" method="POST">
                <input type="hidden" value="rose_wine" name="ask">
                <button type="submit" class="btn btn-success">Check</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>sparkling_wine</td>
            <td></td>
            <td>
                <form action="/ingredients" method="POST">
                <input type="hidden" value="sparkling_wine" name="ask">
                <button type="submit" class="btn btn-success">Check</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>sherry</td>
            <td></td>
            <td>
                <form action="/ingredients" method="POST">
                <input type="hidden" value="sherry" name="ask">
                <button type="submit" class="btn btn-success">Check</button>
                </form>
            </td>
        </tr>
    </tbody>
  </table>
</div>
{% endblock%}