{% extends 'base.html'%}
{% block content%}

<div class="container mt-3">
  <h2>Wybierz wino</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Wino</th>
        <th>Sprawdz pasujace skladniki</th>
      </tr>
    </thead>
    <tbody>
         {% for x in context.wino%}
        <tr>
            <td>{{x}}</td>
            <td><a href="/ingredients" class="btn btn-success">Sprawdz</a></td>
          </tr>
        </tr>
         {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
