{% extends 'base.html'%}
{% block content%}

<div class="container mt-3">
  <h2>Wine selection</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Wine type</th>
        <th>Select</th>
        <th>Check food ingredients matches</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>dry_white_wine</td>
            <td><a href="/wine/white_wine/dry" class="btn btn-success">Choose</a></td>
                <td>
            <form action="/ingredients" method="POST">
            <input type="hidden" value="dry_white_wine" name="ask">
            <button type="submit" class="btn btn-success">Check</button>
            </form>
        </td>
        </tr>
             {% for x in context.wino%}
        <tr>
            <td>{{x}}</td>
            <td></td>
                <td>
            <form action="/ingredients" method="POST">
            <input type="hidden" value="{{x}}" name="ask">
            <button type="submit" class="btn btn-success">Check</button>
            </form>
        </td>
          </tr>
        </tr>
         {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}